{{ partial "header.html" . }}

<div id="content" class="narrow">

{{ range .Paginator.Pages }}
<div class="post text">
{{ partial "metadata.html" . }}

  <div class="title"><h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1></div>

  <div class="caption">{{ .Summary }}</div>
{{ if .Truncated }}
<div class="more">
  <a href="{{ .RelPermalink }}">Read more...</a>
</div>
{{ end }}
</div> <!-- post end -->

{{ end }}

</div> <!-- content end -->

<div class="pagination-centered">
  {{ template "_internal/pagination.html" . }}
</div>

{{ partial "footer.html" . }}
