<!DOCTYPE html>
<html>
<head>
<link href="/css/tumblr.css" rel="stylesheet">
<link href="/css/bootstrap-pagination.css" rel="stylesheet">
<title>{{ .Title }}</title>
</head>
<body>

<div id="page">

<div id="header">
<div class="blog-title"><a href="/"><img src="https://dumbfunded.imgix.net/dumbfunded_large.svg" alt="{{ .Site.Title }}"/></a></div>
  <div class="blog-description">
	<a href="https://twitter.com/dumbfundedit">@dumbfundedit</a> |
	<a href="tags/dumb-ideas">#dumb ideas</a> |
	<a href="tags/funded">#funded!</a> |
	<a href="tags/pivot">#pivot!</a> |
	<a href="tags/gotcha">#gotcha!</a>
  </div>
</div>
